@font-face {
    font-family: bulkyPixels;
    src: url(../assets/BULKYPIX.TTF);
}

.adopt-home-user {
    margin-left: 25px;
}

.adopt-home {
    margin-right: 55px;
}

.adopt-logout {
    margin-right: 25px;
}

.adopt-zone {
    font-family: bulkyPixels, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 55px;
    color: #2D657F;
}

.species-container {
    width: 50%;
    margin: 0 auto;
}

.species-container header {
    text-align: center;
    padding-top: 10%;
    line-height: .5;
    padding-bottom: 8%;
}

.species-container header h3 {
    color: #3F8098;
    font-family: 'Source Code Pro', monospace;
    font-weight: 900;
}

.species-name {
    font-family: bulkyPixels, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    color: #2D657F;
}

.species-pet {
    margin: 0px 35px 20px 35px;
    padding-bottom: 5%;
    color: #1B4965;
}

/***** MEDIA QUERIES *****/

@media all and (max-width: 768px) {
    .species-container {
        width: 80%;
    }
}

@media all and (max-width: 414px) {
    .species-container {
        width: 90%;
        text-align: center;
    }

    .species-container h3 {
        line-height: 1;
    }

    .adopt-zone {
        font-size: 35px;
    }
}