@font-face {
    font-family: bulkyPixels;
    src: url(../assets/BULKYPIX.TTF);
}

.detail-contain {
    width: 50%;
    margin: 0 auto;
    padding-top: 15%;
}

.detail-image {
    display: block;
    margin: auto;
    padding-bottom: 20px;
}

.detail-name {
    font-family: bulkyPixels, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 35px;
}

.detail-about {
    width: 85%;
    margin: 0 auto;
}

.detail-buttons {
    float: right;
    padding-top: 50px;
}

.detail-buttons button {
    margin: 20px;
}