@font-face {
    font-family: bulkyPixels;
    src: url(../assets/BULKYPIX.TTF);
}

.detail-contain {
    width: 50%;
    margin: 0 auto;
    padding-top: 15%;
}

.detail-image {
    display: block;
    margin: auto;
    padding-bottom: 20px;
    color: #1B4965;
}

.detail-name {
    font-family: bulkyPixels, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 35px;
    color: #2D657F;
}

.detail-about {
    width: 85%;
    margin: 0 auto;
    font-family: 'Source Code Pro', monospace;
    font-weight: 600;
    color: #3F8098;
}

.detail-buttons {
    float: right;
    padding-top: 50px;
}

.detail-buttons button {
    margin: 20px;
}