@font-face {
    font-family: bulkyPixels;
    src: url(../assets/BULKYPIX.TTF);
}

.signup-home {
    margin-left: 25px;
}

.signup-container {
    width: 50%;
    margin: 0 auto;
    padding-top: 5%;
}

.signup-section {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.signup-section p {
    font-family: 'Source Code Pro', monospace;
    color: #3F8098;
    font-size: 25px;
}

.signup-section strong {
    font-family: bulkyPixels, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #2D657F;
}

.signup-section h2 {
    font-family: bulkyPixels, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #2D657F;
    font-size: 40px;
    padding-top: 25px;
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Source Code Pro', monospace;
    color: #3F8098;
}

.signup-form ::placeholder {
    font-family: 'Source Code Pro', monospace;
    padding-left: 10px;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.signup-form input {
    border-style: none;
    border-radius: 8px;
    height: 25px;
    width: 175px;
    margin: 15px 0px 15px 35px;
}

.signup-form input:focus {
    outline: none;
    box-shadow: 0 0 8px #fff;
}

.signup-form label {
    font-weight: 700;
}

.signup-form button {
    margin-top: 25px;
}

/***** MEDIA QUERIES *****/

/* TABLET */
@media all and (max-width: 768px) {
    .signup-container {
        padding-top: 15%;
        width: 80%;
    }

    .signup-section {
        width: 90%;
    }
}

/* PHONE */
@media all and (max-width: 414px) {
    .footer {
        display: none;
    }

    .signup-container {
        width: 85%;
        padding-top: 0;
    }

    .signup-section p {
        font-size: 20px;
    }

    .signup-section h2 {
        padding-top: 0px;
    }

    .signup-form {
        margin-top: -20px;
    }
}

@media all and (max-width: 375px) {
    .signup-section p, strong {
        font-size: 20px;
    }
    
    .signup-section h2 {
        font-size: 30px;
    }

    .signup-form input {
        margin: 10px 0px 10px 35px;
    }

    .signup-form button {
        margin-bottom: 25px;
    }
}