@font-face {
    font-family: bulkyPixels;
    src: url(../assets/BULKYPIX.TTF);
}

.button {
    text-align: center;
    width: 150px;
    height: 35px;
    border-style: none;
    font-family: bulkyPixels, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}